
@media screen and (min-width: 300px) {
.body{
    min-height: 480px;
}
.nav{
border: 1px solid black;
display: -ms-inline-grid;
border-radius: 5px;
background: seagreen;
color: white;
width: 35%;
margin: auto;
margin-top: 10%;  
text-align: center;
}

.header ,.footer{
height: 75px;
background:seagreen;
padding-top: 15px;
display: -webkit-inline;
}
ul li {
text-align: center;
float:right;
list-style: none;
}
.header a, .footer a,{
padding-right: 200px;}

.header a, .footer a, .sidenav a{
text-decoration: none;
/* width:75px; */
display: -webkit-inline;
margin: 3px;
padding: 3px;
border: 1px solid black;
border-radius: 10px;
}
.sidenav{
width:10%;
float: left;
min-height: 480px;
background: seagreen;
display: grid;


}
.content {
width:90%;
background: azure;
float:right;
display: grid;
min-height: 480px;
grid-template-columns: auto auto;

}
.grid-item {
background: rgba(255, 255, 255, 0.734);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 1px;
font-size: 25px;
text-align: center;
}

 a:hover{
background-color: brown;
} 

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input {
/* width: 50%; */
padding: 10px;
margin: 5px 0 22px 0;
/* display: inline-block; */
border: none;
background: #f1f1f1;
}
label{
/* float:left; */
}

/* Add a background color when the inputs get focus */
input:focus,  {
background-color: #ddd;
outline: none;
}

/* Set a style for all buttons */
button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
/* width: 100%; */
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 20px;
background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: #474e5d;
padding-top: 50px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
width: 100%;
}
}}